<header class="header">
    <a href="/">
      <img class="header-logotype" src="" alt="" />
    </a>
    <div class="header-nav-bar">
      <a href="/">Home</a>
      <a href="/reptiles">Reptiles</a>
      <a class="selected" href="/mammals">Mammals</a>
      <a href="/birds">Birds</a>
    </div>
</header>
  