<header class="header">
    <a href="/">
      <img class="header-logo" src="" alt="" />
    </a>
    <div>
      <a href="/">Home</a>
      <a href="/reptiles">Reptiles</a>
      <a href="/mammals">Mammals</a>
      <a href="/birds">Birds</a>
    </div>
</header>
  